body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}

.producto {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  width: 10%; /* Cambia este valor según lo desees */
  height: auto; /* Cambia este valor según lo desees */
}

/* Estilos para pantallas grandes (escritorio) */
@media screen and (min-width: 1025px) {
  .producto {
    width: 30%; /* Cambia este valor según lo desees */
  }
}

/* Estilos para pantallas medianas (tabletas) */
@media screen and (max-width: 1024px) {
  .producto {
    width: 45%; /* Cambia este valor según lo desees */
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
  .producto {
    width: 100%; /* Cambia este valor según lo desees */
  }
}

.producto img {
  width: 100%; /* Cambia este valor según lo desees */
  height: 150px; /* Cambia este valor según lo desees */
  object-fit: contain; /* Ajusta la imagen proporcionalmente para encajar en el espacio sin recortar */
}

input[type="text"],
input[type="tel"],
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input[type="number"] {
  width: 60%;
  margin-bottom: 1rem;
}

button {
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #555;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  gap: 1px; /* Ajusta este valor para controlar el espacio entre los productos */
}

/* Archivo CSS */
.mensaje {
  display: none;
  color: green;
  font-weight: bold;
  margin-top: 1px;
}

/* Archivo CSS */
.eliminar-btn {
  background-color: #ff4d4d; /* Cambia el color de fondo a rojo */
  padding: 0.60rem 0.60rem; /* Reduce el relleno para que el botón sea más pequeño */
  font-size: 0.7rem; /* Reduce el tamaño de la fuente */
}


input[type="number"] {
  width: 30px; /* casilla de cantidad Cambia este valor según lo desees */
  margin-bottom: 1rem;
}

/* POPUP CSS */

.detalles-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto;
}

.detalles-contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.detalles-cerrar {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/*boton x */

.detalles-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.detalles-contenido {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

.detalles-cerrar {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}


/*stylo recuadro*/

/* Estilos generales */
.container {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos para la sección del carrito */
#carrito-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para el formulario */
#formulario {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
