body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}

.producto {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  text-align: center;
  width: 30%; /* Cambia este valor según lo desees */
  margin-right: 4px;
  margin-bottom: 4px;
}

/* Estilos para pantallas grandes (escritorio) */
@media screen and (min-width: 1025px) {
  .producto {
    width: 30%; /* Cambia este valor según lo desees */
  }
}

/* Estilos para pantallas medianas (tabletas) */
@media screen and (max-width: 1024px) {
  .producto {
    width: 45%; /* Cambia este valor según lo desees */
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media screen and (max-width: 480px) {
  .producto {
    width: 100%; /* Cambia este valor según lo desees */
  }
}

.producto img {
  width: 100%; /* Cambia este valor según lo desees */
  height: 150px; /* Cambia este valor según lo desees */
  object-fit: contain; /* Ajusta la imagen proporcionalmente para encajar en el espacio sin recortar */
}

input[type="text"],
input[type="tel"],
select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

input[type="number"] {
  width: 60%;
  margin-bottom: 1rem;
}

button {
  background-color: #333;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.5rem;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #555;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  gap: 4px; /* Ajusta este valor para controlar el espacio entre los productos */
}

/* Archivo CSS */
.mensaje {
  display: none;
  color: green;
  font-weight: bold;
  margin-top: 5px;
}

/* Archivo CSS */
.eliminar-btn {
  background-color: #ff4d4d; /* Cambia el color de fondo a rojo */
  padding: 0.10rem 0.2rem; /* Reduce el relleno para que el botón sea más pequeño */
  font-size: 0.3rem; /* Reduce el tamaño de la fuente */
}
